<div class="title-container" 
    title="MAARCH/2023D/34: VOTRE DEMANDE D'INTERVENTION (Projet de réponse)"
>
    <i
        class="far fa-plus-square"
        [title]="'lang.showInformationsBlock' | translate"
        style="cursor: pointer"
    ></i>
    <span>MAARCH/2023D/34: VOTRE DEMANDE D'INTERVENTION</span>
    <small class="subSubject">Projet de réponse</small>
</div>

<div class="sbContent-container">
    <iframe
        src="https://www.africau.edu/images/default/sample.pdf"
    ></iframe>
</div>