<div class="mat-dialog-content-container">
    <h1 mat-dialog-title class="externalSignatoryBookTitle">
        {{data.action.label}} &nbsp; <div *ngIf="authService.externalSignatoryBook !== null" class="badge" [title]="'lang.enabledSignatoryBook' | translate">
            {{getTitle()}}
         </div>
    </h1>
    <div mat-dialog-content>
        <div *ngIf="loading" class="loading" style="display:flex;height:100%;">
            <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
        <mat-sidenav-container *ngIf="authService.externalSignatoryBook !== null" autosize style="height:100%;">
            <mat-sidenav-content style="background: white;">
                <div class="row" style="margin: 0;">
                    <div class="col-md-12">
                        {{'lang.makeActionOn' | translate}}
                        <b *ngIf="data.resIds.length === 0" color="primary"
                            class="highlight">{{'lang.currentIndexingMail' | translate}}</b>
                        <b *ngIf="data.resIds.length === 1" color="primary"
                            class="highlight">{{data.resource.chrono}}</b>
                        <b *ngIf="data.resIds.length > 1" color="primary" class="highlight">{{data.resIds.length}}
                            {{'lang.elements' | translate}}</b> ?
                    </div>
                    <div *ngIf="data.resIds.length === 1" class="toggleIntegration">
                        <button *ngIf="data.resIds.length === 1" class="attachmentIcon" color="primary"
                            mat-icon-button title="{{'lang.attachments' | translate}}"
                            (click)="snav2?.toggle()">
                            <mat-icon fontSet="fas"
                                [matBadge]="attachmentsList?.attachmentsClone?.length"
                                fontIcon="fa-paperclip fa-2x">
                            </mat-icon>
                        </button>
                        <mat-checkbox color="primary" *ngFor="let inteKey of integrationsInfo | keyvalue"
                            (click)="toggleIntegration(inteKey.key)"
                            [checked]="data.resource.integrations[inteKey.key]">{{'lang.' + inteKey.key + '_doc' | translate}}
                        </mat-checkbox>
                    </div>
                    <div *ngIf="resourcesMailing.length > 0" class="alert-message alert-message-info" role="alert">
                        <p>{{'lang.mailingActionInformations' | translate}}</p>
                        <ul>
                            <li *ngFor="let ressource of resourcesMailing">
                                <b>{{ressource.alt_identifier}}</b>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <app-i-paraph #iParapheur *ngIf="['iParapheur', 'pastell'].indexOf(authService.externalSignatoryBook.id) > -1 && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-i-paraph>
                        <app-ixbus-paraph #ixbus *ngIf="authService.externalSignatoryBook.id === 'ixbus' && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-ixbus-paraph>
                        <app-fast-paraph #fastParapheur *ngIf="!loading && authService.externalSignatoryBook.id === 'fastParapheur' && externalSignatoryBook.signatoryBookEnabled === ''"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-fast-paraph>
                        <app-maarch-paraph #externalSignatoryBookComponent
                            *ngIf="!functions.empty(externalSignatoryBook.signatoryBookEnabled) && !loading"
                            [resIds]="data.resIds"
                            [resourcesToSign]="resourcesToSign"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-maarch-paraph>
                        <app-x-paraph #xParaph *ngIf="authService.externalSignatoryBook.id === 'xParaph' && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas"></app-x-paraph>
                        <div class="col-md-12"
                            *ngIf="additionalsInfos.noAttachment.length !== 0 && externalSignatoryBookDatas.objectSent === 'attachment'">
                            <div>
                                <div class="alert-message alert-message-danger mailList" role="alert">
                                    <p>
                                        {{'lang.canNotMakeAction' | translate}} :
                                    </p>
                                    <ul>
                                        <li *ngFor="let attachment of additionalsInfos.noAttachment">
                                            <b>{{attachment.alt_identifier}}</b> : {{'lang.' + attachment.reason | translate}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        <app-note-editor #noteEditor [resIds]="data.resIds"></app-note-editor>
                    </div>
                    <ng-container *ngIf="showToggle">
                        <div class="col-md-12" style="margin: 10px 0px 10px 0px;">
                            <mat-slide-toggle name="history" color="primary"
                                [title]="'lang.canGoToNextResDesc' | translate" [(ngModel)]="canGoToNextRes" [checked]="canGoToNextRes">
                                {{'lang.canGoToNextRes' | translate}}
                            </mat-slide-toggle>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                </div>
            </mat-sidenav-content>
            <mat-sidenav *ngIf="data.resIds.length === 1" #snav2 position='end' mode="side" autoFocus="false"
                [opened]="true"
                [ngStyle]="{'width': '600px'}"
                style="overflow-x:hidden;">
                <!-- <div style="display: flex; position: relative; top: -11px; margin-bottom: -17px; left: 2px;">
                    <button mat-icon-button [title]="'Fermer le panneau latéral'" (click)="snav2.close()" style="font-size: 20px;color:#666">
                        <mat-icon class="fa fa-arrow-right"></mat-icon>
                    </button>
                </div> -->
                <div *ngIf="attachmentsList.attachmentsClone.length > 0" class="attachInSignatoryBook">
                    <mat-checkbox color="primary"
                        [title]="'lang.attachmentsInSignatoryBookDesc' | translate"
                        [checked]="inSignatoryBook.value"
                        (change)="inSignatoryBook.setValue(!inSignatoryBook.value)">
                        {{'lang.attachmentsInSignatoryBook' | translate}}
                    </mat-checkbox>
                </div>
                <mat-radio-group *ngIf="attachmentsList.attachmentsClone.length > 0 && inSignatoryBook.value" class="integrationTarget"
                    [(ngModel)]="integrationTarget"
                    (change)="attachmentsList.setTaget($event.value)"
                    color="primary">
                    <mat-radio-button value="all" color="primary" [title]="'lang.allIntegratedAttachments' | translate">
                        {{'lang.allIntegratedAttachments' | translate}}
                    </mat-radio-button>
                    <mat-radio-button value="sign" color="primary" [title]="'lang.attachmentToSign' | translate">
                        {{'lang.attachmentToSign' | translate}}
                    </mat-radio-button>
                    <mat-radio-button value="annex" color="primary" [title]="'lang.attachmentAnnex' | translate">
                        {{'lang.attachmentAnnex' | translate}}
                    </mat-radio-button>
                </mat-radio-group>
                <app-attachments-list #attachmentsList
                    [resId]="data.resIds[0]"
                    [inSignatoryBook]="inSignatoryBook"
                    (afterActionAttachment)="afterAttachmentToggle($event)">
                </app-attachments-list>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button color="primary" [disabled]="loading || !isValidAction()"
            (click)="onSubmit()">{{'lang.validate' | translate}}</button>
        <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
    </div>
</div>