.signatorybook-header {
    font-size: 30px;
    background: var(--maarch-color-primary);
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;

    &-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: none;
    }
    &-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: none;
    }
}

.signatorybook-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.signatorybook-contents {
    display: flex;
    flex: 1;
    gap: 10px;
    overflow: hidden;
    background: #d6d6d6;
}

.signatorybook-content {
    flex: 1;
    display: flex;
    gap: 10px;
}

.book-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.signatorybook-content-with-book-mark-left {
    flex-direction: row-reverse;
}

.book-mark {
    background-color: var(--maarch-color-primary);
    width: 70px;
    min-height: 100%;
}

.fix-bg {
    height: 95%;
    width: 20px;
    position: absolute;
    right: 0px;
    background: white;
}

iframe {
    border: none;
}

.maarchLogo {
    height: 60px;
    width: auto;
    padding: 10px;
}

.panelHeader-backHome {
    i {
        height: auto;
        color: var(--maarch-color-primary);
        background: white;
        padding: 10px;
        border-radius: 20px;
        font-size: 18px;
    }

    span {
        font-size: 13px;
        color: white;
    }
}

.prev-next-container {
    display: flex;
    align-items: center;
    .prev-button ::ng-deep .mat-button-wrapper,
    .next-button ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }
}

.subSubject {
    color: var(--maarch-color-secondary);
    align-self: flex-end;
}

.checkbox-mass-sign ::ng-deep .mat-checkbox-frame {
    transform: scale(2.2);
}

.checkbox-mass-sign ::ng-deep .mat-checkbox-background {
    transform: scale(2);
}

.checkbox-mass-sign ::ng-deep .mat-checkbox-layout {
    display: flex;
    gap: 10px;
}

.checkbox-mass-sign ::ng-deep .mat-checkbox-frame {
    border-color: white;
    background: white;
}

.checkbox-mass-sign ::ng-deep .mat-checkbox-label {
    color: white;
}

.mass-action-count {
    background: var(--maarch-color-secondary);
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: bold;
}