<div *ngIf="loading" class="loading" style="display:flex;height:100%;">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div class="signatorybook-container">
    <div class="signatorybook-header">
        <div class="signatorybook-header-left" style="justify-content: start">
            <div class="prev-next-container">
                <button mat-button class="prev-button" [title]="'lang.previousRes' | translate">
                    <i class="fa fa-angle-left" style="height: auto"></i>
                    <span>{{ 'lang.previous' | translate }}</span>
                </button>
                <button mat-icon-button (click)="toggleResList()">
                    <mat-icon class="fa fa-inbox"></mat-icon>
                </button>
                <button mat-button class="next-button" [title]="'lang.nextRes' | translate">
                    <span>{{ 'lang.next' | translate }}</span>
                    <i class="fa fa-angle-right" style="height: auto"></i>
                </button>
            </div>
        </div>
        <div class="signatorybook-header-center" style="justify-content: center">
            <mat-icon class="maarchLogo" svgIcon="maarchLogoFull"></mat-icon>
            <div>{{signatureBookService.basketLabel}}</div>
            <button mat-icon-button [title]="'lang.backBasket' | translate" (click)="backToBasket()">
                <mat-icon class="fa-solid fa-arrow-right-from-bracket" style="font-size: 17px;"></mat-icon>
            </button>
        </div>
        <div class="signatorybook-header-right" style="justify-content: end">
            <div style="font-size: initial">
                <mat-checkbox class="checkbox-mass-sign" [checked]="true"
                    >Éligible à une action de masse <span class="mass-action-count">4</span></mat-checkbox
                >
            </div>
        </div>
    </div>
    <mat-drawer-container style="flex: 1" [hasBackdrop]="true">
        <mat-drawer *ngIf="loadResList" #drawerResList class="drawer-res-list" mode="over" [ngStyle]="{'width': '500px'}">
            <app-resources-list
                [resId]="+resId"
                [userId]="userId"
                [groupId]="groupId"
                [basketId]="basketId"
                [basketLabel]="signatureBookService.basketLabel"
                (closeResListPanel)="drawerResList.close()"></app-resources-list>
        </mat-drawer>
        <mat-drawer-content style="display: flex; flex: 1">
            <div class="signatorybook-contents">
                <div class="signatorybook-content">
                    <ng-scrollbar class="book-mark" autoHeightDisabled="false">
                        <app-maarch-sb-tabs *ngIf="!loadingAttachments" position="left" [documents]="attachments"></app-maarch-sb-tabs>
                    </ng-scrollbar>
                    <div class="book-content" *ngIf="!loadingAttachments">
                        <app-maarch-sb-content
                            position="left"
                            style="display: contents;"
                        ></app-maarch-sb-content>
                    </div>
                </div>
                <div class="signatorybook-content">
                    <div class="book-content">
                        <mat-drawer-container style="flex: 1;background: none;">
                            <mat-drawer mode="over" #drawerStamps>
                                <app-maarch-sb-stamps [userId]="userId" (stampsLoaded)="defaultStamp = $event"></app-maarch-sb-stamps>
                            </mat-drawer>
                            <mat-drawer-content style="display: flex; flex-direction: column">
                                <app-maarch-sb-content
                                    position="right"
                                    style="display: contents;"
                                ></app-maarch-sb-content>
                                <app-maarch-sb-actions
                                    *ngIf="docsToSign.length > 0"
                                    [resId]="resId"
                                    [userId]="userId"
                                    [basketId]="basketId"
                                    [groupId]="groupId"
                                    [stamp]="defaultStamp"
                                    (openPanelSignatures)="drawerStamps.toggle()"
                                ></app-maarch-sb-actions>
                            </mat-drawer-content>
                        </mat-drawer-container>
                    </div>
                    <ng-scrollbar class="book-mark" autoHeightDisabled="false">
                        <app-maarch-sb-tabs *ngIf="!loadingDocsToSign" position="right" [documents]="docsToSign"></app-maarch-sb-tabs>
                    </ng-scrollbar>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
