<div class="book-footer">
    <div class="book-footer-left">
        <div *ngIf="stamp === undefined">
            <mat-spinner class="spinner-white" diameter="50"></mat-spinner>
        </div>
        <div *ngIf="stamp !== undefined" class="sign-button-container">
            <button
                mat-button
                class="sign-button"
                [title]="'lang.applyStamp' | translate"
                *ngIf="stamp?.contentUrl"
                [disabled]="stamp === null"
                [style.backgroundImage]="'url(' + (stamp?.contentUrl | secureUrl | async) + ')'"
                (click)="signWithStamp(stamp)"
            ></button>
            <div *ngIf="!stamp?.contentUrl" class="no-stamp">
                {{ 'lang.noStamp' | translate }}
            </div>
            <button *ngIf="stamp !== undefined" mat-button class="open-sign-list-button" (click)="openSignaturesList()">
                >
            </button>
        </div>
    </div>
    <div class="book-footer-center">
        <div *ngIf="loading">
            <mat-spinner class="spinner-white" diameter="50"></mat-spinner>
        </div>
        <ng-container *ngIf="!loading">
            <button mat-stroked-button class="action-button action-button-left" (click)="processAction(leftActions[0])">
                <div class="action-button-button-label" [title]="leftActions[0]?.label">
                    {{ leftActions[0]?.label }}
                </div>
                <div *ngIf="leftActions.length > 1">
                    <button
                        mat-button
                        class="action-button-button-plus"
                        [matMenuTriggerFor]="menuLeft"
                        (click)="$event.stopPropagation()"
                    >
                        +
                    </button>
                </div>
            </button>
            <mat-menu #menuLeft="matMenu">
                <ng-container *ngFor="let action of leftActions; let i = index">
                    <button *ngIf="i !== 0" mat-menu-item>{{ action.label }}</button>
                </ng-container>
            </mat-menu>
            <button
                mat-stroked-button
                class="action-button action-button-right"
                (click)="processAction(rightActions[0])"
            >
                <div class="action-button-button-label" [title]="rightActions[0]?.label">
                    {{ rightActions[0]?.label }}
                </div>
                <div *ngIf="rightActions.length > 1">
                    <button
                        mat-button
                        class="action-button-button-plus"
                        [matMenuTriggerFor]="menuRight"
                        (click)="$event.stopPropagation()"
                    >
                        +
                    </button>
                </div>
            </button>
            <mat-menu #menuRight="matMenu">
                <ng-container *ngFor="let action of rightActions; let i = index">
                    <button *ngIf="i !== 0" mat-menu-item>{{ action.label }}</button>
                </ng-container>
            </mat-menu>
        </ng-container>
    </div>
    <div class="book-footer-right"></div>
</div>
