<div class="book-footer-actions">
    <div *ngIf="loading">
        <mat-spinner class="spinner-white" diameter="50" aria-hidden="true"></mat-spinner>
    </div>
    <ng-container *ngIf="!loading">
        <button tabindex="1" [attr.aria-label]="selectedRightAction.label"
                mat-stroked-button
                class="action-button action-button-valid"
                [title]="selectedRightAction?.label"
                [attr.aria-label]="selectedRightAction.label"
                (click)="$event.stopPropagation(); processAction(selectedRightAction)"
        >
            <div class="action-button-button-label" [title]="selectedRightAction.label">
                <mat-icon class="fa fa-thumbs-up" aria-hidden="true"></mat-icon>
                <span>
                        {{ selectedRightAction.label | shorten: 45: '...' }}
                    </span>
            </div>
        </button>
        <ng-container *ngIf="getActions(selectedRightAction, 'rightActions').length > 1">
            <button aria-haspopup="menu" tabindex="2"
                    mat-icon-button
                    class="more-actions more-actions-valid"
                    [matMenuTriggerFor]="menuValidationActions"
                    #menuTrigger="matMenuTrigger"
                    [title]="'lang.moreActions' | translate"
                    [attr.aria-label]="'lang.moreActions' | translate"
                    (click)="$event.stopPropagation();"
                    (mousedown)="$event.preventDefault()"
            >
                <mat-icon class="fa fa-chevron-up" aria-hidden="true"></mat-icon>
            </button>
            <mat-menu #menuValidationActions="matMenu" yPosition="above">
                <ng-container *ngFor="let action of getActions(selectedRightAction, 'rightActions'); let i = index">
                    <button *ngIf="selectedRightAction.id !== action.id"
                        class="more-actions-valid-item"
                        mat-menu-item
                        [title]="action.label"
                        [attr.aria-label]="action.label"
                        (click)="$event.stopPropagation(); selectedRightAction = action; menuTrigger.closeMenu()">
                        {{ action.label }}
                    </button>
                </ng-container>
            </mat-menu>
        </ng-container>

        <button tabindex="3" [attr.aria-label]="selectedLeftAction?.label"
                mat-stroked-button class="action-button action-button-reject"
                (click)="processAction(leftActions[0])">
            <div class="action-button-button-label" [title]="leftActions[0]?.label">
                <mat-icon class="fa fa-thumbs-down" aria-hidden="true"></mat-icon>
                <span>
                        {{ leftActions[0]?.label | shorten: 45: '...' }}
                    </span>
            </div>
        </button>
        <ng-container *ngIf="getActions(selectedLeftAction, 'leftActions').length > 1">
            <button aria-haspopup="menu" tabindex="4"
                mat-icon-button
                class="more-actions more-actions-reject"
                [matMenuTriggerFor]="menuRefusalActions"
                #menuTrigger="matMenuTrigger"
                [title]="'lang.moreActions' | translate"
                [attr.aria-label]="'lang.moreActions' | translate"
                (click)="$event.stopPropagation()"
                (mousedown)="$event.preventDefault()"
        >
            <mat-icon class="fa fa-chevron-up" aria-hidden="true"></mat-icon>
        </button>
        <mat-menu #menuRefusalActions="matMenu" yPosition="above">
            <ng-container *ngFor="let action of getActions(selectedLeftAction, 'leftActions'); let i = index">
                <button *ngIf="selectedLeftAction.id !== action.id"
                    class="more-actions-reject-item"
                    mat-menu-item
                    [title]="action.label"
                    [attr.aria-label]="action.label"
                    (click)="$event.stopPropagation(); selectedLeftAction = action; menuTrigger.closeMenu()">
                    {{ action.label }}
                </button>
            </ng-container>
        </mat-menu>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="signatureBookService.selectedDocToSign.attachment !== undefined" class="book-footer-stamps">
    <div *ngIf="userStamp === undefined">
        <mat-spinner class="spinner-white" diameter="50" aria-hidden="true"></mat-spinner>
    </div>
    <div *ngIf="userStamp !== undefined" class="sign-button-container">
        <button
                tabindex="5"
                mat-button
                class="sign-button"
                [title]="'lang.applyStamp' | translate"
                *ngIf="userStamp?.contentUrl"
                [disabled]="userStamp === null"
                [style.backgroundImage]="'url(' + (userStamp?.contentUrl | secureUrl | async) + ')'"
                (click)="signWithStamp(userStamp)"
        ></button>
        <button *ngIf="userStamp !== undefined" mat-button
                tabindex="6"
                class="open-sign-list-button"
                [title]="'lang.displayStampsList' | translate"
                (click)="openSignaturesList()">
            <mat-icon class="fa fa-angle-right" aria-hidden="true"></mat-icon>
        </button>
        <div *ngIf="!userStamp?.contentUrl" class="no-stamp">
            {{ 'lang.noStamp' | translate }}
        </div>
    </div>
</div>
