.book-footer {
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 10px;
    background-color: var(--maarch-color-primary);
    align-items: center;
}

.book-footer-center {
    gap: 20px;
    flex: 1;
    display: flex;
}

.book-footer-left,
.book-footer-right {
    flex: 1;
}

.action-button {
    width: 200px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    overflow: hidden;

    ::ng-deep .mat-button-wrapper {
        display: flex;

        .action-button-button-label {
            white-space: break-spaces;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 25px;
            width: 100%;
        }
    }

    &-left {
        color: var(--maarch-color-danger);
        border: solid 2px var(--maarch-color-danger);
    }

    &-right {
        color: var(--maarch-color-success);
        border: solid 2px var(--maarch-color-success);
    }
}

.action-button-button-plus {
    padding: 0;
    justify-content: center;
    display: flex;
    min-width: 30px;
}

.sign-button-container {
    height: 80px;
    width: 150px;
    display: flex;
    align-items: center;
}

.sign-button {
    background-color: white;
    color: white;
    height: 80px;
    width: 150px;
    min-width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.open-sign-list-button {
    color: white;
    height: 100%;
    min-width: auto;
}

.spinner-white ::ng-deep circle {
    stroke: white !important;
}