<div class="book-mark-container">
    <button
        *ngFor="let document of documents;let i=index"
        mat-button
        class="book-mark-item"
        [title]="document.title"
        [class.book-mark-item-to-left]="position === 'left'"
        [class.book-mark-item-to-right]="position === 'right'"
        [ngClass]="{
            'book-mark-item-selected': selectedId === i,
            'book-mark-item-selected-to-left': selectedId === i && position === 'left',
            'book-mark-item-selected-to-right': selectedId === i && position === 'right'
        }"
        (click)="selectDocument(i, document)"
        >
        {{document.title}}
    </button>
</div>
