<div class="book-mark-container">
    <button
        *ngFor="let document of documents;let i=index"
        mat-button
        class="book-mark-item"
        [title]="document.title"
        [class.book-mark-item-to-left]="signable"
        [class.book-mark-item-to-right]="!signable"
        [ngClass]="{
            'book-mark-item-selected': selectedId === i,
            'book-mark-item-selected-to-left': selectedId === i && signable,
            'book-mark-item-selected-to-right': selectedId === i && !signable
        }"
        (click)="selectedId=i"
        >
        {{document.title}}
    </button>
</div>
