<div class="title-container"
    [title]="setTitle(attachmentData) + ' (' + attachmentData?.typeLabel + ')'">
    <i
        class="far fa-plus-square"
        [title]="'lang.showInformationsBlock' | translate"
        style="cursor: pointer"
    ></i>
    <span>{{setTitle(attachmentData)}}</span>
    <small class="subSubject">{{attachmentData?.typeLabel}}</small>
</div>
<div *ngIf="loading" class="loading" style="display:flex;height:100%;">
    <mat-spinner style="margin:auto;"></mat-spinner>
</div>
<div class="sbContent-container">
    <iframe
        [src]="attachmentContent"
    ></iframe>
</div>