.sbContent-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.title-container {
    font-size: 20px;
    font-weight: bold;
    color: var(--maarch-color-primary);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.subSubject {
    color: var(--maarch-color-secondary);
    align-self: flex-end;
}

.loading {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffb3;
    z-index: 2;
    overflow: hidden;
}
