<div *ngIf="documentData" class="title-container"
    [title]="getTitle()">
    <i
        class="far fa-plus-square"
        [title]="'lang.showInformationsBlock' | translate"
        style="cursor: pointer"
    ></i>
    <span>{{getLabel()}}</span>
    <small class="subSubject">{{documentData?.typeLabel}}</small>
</div>
<div class="sbContent-container">
    <div *ngIf="loading" class="loading">
        <mat-spinner style="margin:auto;"></mat-spinner>
    </div>
    <ng-container #myPlugin></ng-container>
    <iframe
        *ngIf="!pluginInstance && documentData && !loading"
        [src]="documentContent | safeBlob"
    ></iframe>
    <div class="empty-doc" *ngIf="!documentData && !loading">
        <i class="fa-solid fa-file-signature"></i>
        <div>{{ 'lang.noDocumentToSign' | translate }}</div>
    </div>
</div>